body{
    background-color: tomato;
}

.container{
    background-color: blueviolet;
    flex-direction: column;
    display: flex;
    margin: 0vw 32.5vw;
    width: 30vw;
    height: 50vw;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 4vw;
    padding: 1vw;
}

.screen{
    background-color: aqua;
    width: 26.5vw;
    height: 12.5vw;
    border: 2px solid black;
    border-radius: 3vw;
}

.buttons-grid{
    margin: 2vw;
    display: flex;
    width: 27.5vw;
    height: 30vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    background-color: rgb(210, 75, 25);
    text-align: center;
    font-size: 2vw;
    margin: 0.375vw;
    width: 6vw;
    height: 6vw;
    border-radius: 3vw;
    outline: 1px solid black;
}

.btn-clr, .btn-op{
    width: 12.9vw;
}