body{
    background-color: tomato;
}

.container{
    background-color: blueviolet;
    flex-direction: column;
    display: flex;
    margin: auto;
    width: 30vw;
    min-width: 300px;
    height: 50vw;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: max(4vw,40px);
    padding: 1vw;
}

.screen{
    background-color: aqua;
    width: 26.5vw;
    min-width: 265px;
    height: 12.5vw;
    min-height: 125px;
    border: 2px solid black;
    border-radius: max(3vw,30px);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    text-align: right;
}

.history, .output{
    margin: 1.5vw;
}

.history {
    font-size: 3vw;
}

.buttons-grid{
    margin: 2vw;
    display: flex;
    width: 27.5vw;
    min-width: 275px;
    height: 30vw;
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn{
    background-color: rgb(210, 75, 25);
    text-align: center;
    font-size: max(2vw,18px);
    margin: max(0.375vw, 2px);
    width: 6vw;
    min-width: 60px;
    height: 6vw;
    min-height: 60px;
    border-radius: max(3vw,60px);
    outline: 1px solid black;
}

.btn-clr, .btn-op{
    width: 12.9vw;
    min-width: 129px;
}